<% include ../partials/head %>

<% include ../partials/leftmenu %>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> ADMINISTRATOR SESSION</h3>
          	<hr>		
			
		
		<!-- COMPLEX TO DO LIST -->			
              <div class="row mt">
                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
	                	<div class="panel-heading">
	                        <div class="pull-left"><h5><i class="fa fa-tasks"></i> &nbsp;&nbsp;Menu</h5></div>
	                        <br>
	                 	</div>
                          <div class="panel-body">
                              <div class="task-content">

                                  <ul class="task-list">
                                      <li>
                                          <div class="task-title">
                                              <span class="task-title-sp">1. Front News</span>
                                              <div class="pull-right">
                                                  <a href='/news'><button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button></a>
                                              </div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="task-title">
                                              <span class="task-title-sp">2. User Management</span>
                                              <div class="pull-right">
                                                  <a href='/userm'><button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button></a>
                                              </div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="task-title">
                                              <span class="task-title-sp">3. Chat</span>
                                              <div class="pull-right">
                                                  <a href='/chat'><button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button></a>
                                              </div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="task-title">
                                              <span class="task-title-sp">4. Gallery</span>
                                              <div class="pull-right">
                                                  <a href='/c_gallery'><button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button></a>
                                              </div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="task-title">
                                              <span class="task-title-sp">5. Books</span>
                                              <div class="pull-right">
                                                  <a href='/c_book'><button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button></a>
                                              </div>
                                          </div>
                                      </li>  
                                      <li>
                                          <div class="task-title">
                                              <span class="task-title-sp">6. Presensi</span>
                                              <div class="pull-right">
                                                  <a href='/c_presen'><button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button></a>
                                              </div>
                                          </div>
                                      </li>                                      
                                  </ul>
                              </div>

                          </div>
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row -->
		
				
					

	  </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->


<% include ../partials/footer %>